:root{

    --background-color: #fff;
    
    --background-light: #fff;
    
    --shadow-color: rgba(0,0,0,0.2);
    
    --primary-color: rgb(255, 0,86);
    
    --text-color: #0A0A0A;
    
    --text-light: #575757;
    
    --font-size: 20px;
    
    --animation-speed:1;
    
}

*{
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
    
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}
.homepage_container1{
    padding-inline: 22.5vw;
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    // display: grid;
    // grid-template-columns: 1fr;
   
}
@media (max-width: 1620px) { 
    .homepage_container1
     {
        padding-inline: 16.875vw;
        
        
    }
}
@media (max-width: 1376px) { 
    .homepage_container1
     {
        padding-inline: 7.875vw;
        
    }
}
@media (max-width: 1110px) { 
    .homepage_container1
     {
        padding-inline: 5.625vw;
        
    }
}
@media (max-width: 600px) { 
    .homepage_container1
     {
        padding-inline: 7vw;
        
    }
}
@media (max-width: 600px) { 
    .homepage_container1
     {
        flex-direction: column;
        grid-gap: 5px;

        
    }
}


.left_coloumn1 { 
    padding: 3em 0em;
    width: 43%;

    margin-top: 50px;
    

}
@media (max-width: 816px) { 
    .left_coloumn1
     {
        
        margin-top: 30px;
        
        
    }
}
@media (max-width: 640px) { 
    .left_coloumn1
     {
        
        margin-top: 15px;
        
        
    }
}
@media (max-width: 600px) { 
    .left_coloumn1
     {
        width: 100%;
        text-align: center;
        margin-top: 45px;
        padding: 0em 0em;
        
    }
}



.about_us{
    color: var(--text-color);
    font-size: 3em; 
}
@media (max-width: 816px) { 
    .about_us
     {
        font-size: 2.3em;
        
        
    }
}       
 


@media (max-width: 600px) { 
    .about_us
     {
        font-size: 2.5em;
        
    }
}
.about_us_content{
    
     padding: 1.5em 0em;
     font-size: 1.1em;
     letter-spacing: 1px;
     line-height: 1.3;
    
     
}
@media (max-width: 816px) { 
    .about_us_content
     {
        
        letter-spacing: .7px;
        line-height: 1.1;
        
        
    }
}       
 
@media (max-width: 600px) { 
    .about_us_content
     {
        
        padding: 1em 0em;
        
    }
}

.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75em 1em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 2px 6px var(--shadow-color);
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
   
    
}

.right_coloumn1{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
    margin-top: 20px;
    

}
@media (max-width: 750px) { 
    .right_coloumn1
     {
        height: 200px;
        margin-top: 30px;
        
        
    }
}  
@media (max-width: 816px) { 
    .right_coloumn1
     {
        height: 300px;
        
        
        
    }
}  
@media (max-width: 600px) { 
    .right_coloumn1
     {
        height: 420px;
        width: 420px;
        margin: auto;
        margin-top: 30px;
    }
}  
@media (max-width: 500px) { 
    .right_coloumn1
     {
        height: 375px;
        width: 400px;
        margin: auto;
        margin-top: 30px;

    }
}  
@media (max-width: 440px) { 
    .right_coloumn1
     {
        height: 100%;
        width: 305px;
        margin: auto;
        margin-top: 20px;

    }
}  


.custom-image{
    height: 140px;
    width: 150px;
    text-align: center;
    display: flex;
    border-radius: 5px;
    
}


@media (max-width: 816px) { 
    .custom-image
     {
        height: 120px;
        width: 120px;
        justify-content: center;
        
        
    }
}       
@media (max-width: 700px) { 
    .custom-image
     {
        height: 110px;
        width: 110px;
        justify-content: center;
        
        
    }
}       


@media (max-width: 600px) { 
    .custom-image
     {
        height: 125px;
        width: 125px;
        justify-content: center;
        
        
    }
}
@media (max-width: 500px) { 
    .custom-image
     {
        height: 120px;
        width: 125px;
        justify-content: center;
        
        
        
    }
}
@media (max-width: 440px) { 
    .custom-image
     {
        height: 95px;
        width: 95px;
        justify-content: center;
        
        
        
    }
}
@media (max-width: 400px) { 
    .custom-image
     {
        height: 90px;
        width: 95px;
        justify-content: center;
        
        
        
    }
}
.homepage_container2{
    padding-inline: 22.5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin:30px 0px 50px 0px;

    // justify-content: space-between;
    // display: grid;
    // grid-template-columns: 1fr;
   
}
@media (max-width: 1620px) { 
    .homepage_container2
     {
        padding-inline: 16.875vw;
        
        
    }
}
@media (max-width: 1376px) { 
    .homepage_container2
     {
        padding-inline: 7.875vw;
        
    }
}
@media (max-width: 1110px) { 
    .homepage_container2
     {
        padding-inline: 5.625vw;
        
    }
}
@media (max-width: 650px) { 
    .homepage_container2
     {
        margin:10px 0px 40px 0px;
        

        
    }
}
@media (max-width: 600px) { 
    .homepage_container2
     {
        padding-inline: 8vw;
        
    }
}

.left_coloumn2{
    width: 55%;
}
@media (max-width: 600px) { 
    .left_coloumn2
     {
        display: none;
     }
    }
.right_column2{
    width: 45%;
    margin:0px 0px 0px 15px;

}
@media (max-width: 600px) { 
    .right_column2
     {
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
}
.custom-image2{
        height: 400px;
        width: 100%;

        justify-content: center;
        
        border-radius: 5px;
}
.skill_heading{
    font-size: 2.2em;
    font-weight: bold;
    color: var(--text-color);
    width: 50%;
    
    
}
@media (max-width: 816px) { 
    .skill_heading
     {
        font-size: 2em;
        
        
    }
}       
 


@media (max-width: 600px) { 
    .skill_heading
     {
        font-size: 2em;
        width: 100%;
        padding-inline: 5vw;
        
    }
}
@media (max-width: 500px) { 
    .skill_heading
     {
        font-size: 1.5em;
        
        padding-inline: 0vw;
        
    }
}
.skill_container{
    display: flex;
    align-items: center;
    margin: 10px 0px;
    
}
@media (max-width: 600px) { 
    .skill_container
     {  
        justify-content: center;
        // padding-left: 30px;
        width: 100%;
       
    }
}
@media (max-width: 500px) { 
    .skill_container
     {  
       
       margin: 5px 0px;
       
    }
}


@media (max-width: 600px) { 
    .skill_item_container
     {  
        display: flex;
        
        flex-wrap: wrap;
    }
}
@media (max-width: 500px) { 
    .skill_item_container
     {  
        margin: 15px 0px;
    }
}

.vertical_line {
    border-left: .19em solid var(--primary-color) ; 
    height: 1.3em; 
    margin: 0 5px; 
}
.skill_item{
    
    font-size: 1.1em;
     letter-spacing: 1px;
}

.signup{
    margin-top: 20px;
}

