:root {
    --background-color: #fff;
    --primary-color: rgb(255, 0, 86);
    --text-color: #0A0A0A;
  }
  *{
    font-family: "Josefin Sans", sans-serif;
  }
  .add_recipe{
    font-weight: bold;
    padding: 15px 0px;
  }
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    
    margin: 0 auto;
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
  }
  
  h2 {
    text-align: center;
    color: var(--primary-color);
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-weight: bold;
    padding: 50px 0px;
  }
  
  input[type="text"],
  input[type="file"],
  button[type="button"],
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  
  button[type="button"],
  button[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="button"]:hover,
  button[type="submit"]:hover {
    background-color: var(--primary-color);
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    form {
      gap: 10px;
    }
  
    input[type="text"],
    input[type="file"],
    button[type="button"],
    button[type="submit"] {
      padding: 8px;
    }
  }
  