:root{

    --background-color: #fff;
    
    --background-light: #fff;
    
    --shadow-color: rgba(0,0,0,0.2);
    
    --primary-color: rgb(255, 0,86);
    
    --text-color: #0A0A0A;
    
    --text-light: #575757;
    
    --font-size: 1.3rem;
    
    --animation-speed:1;
    

    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

.view_recipe_container{
    padding-inline: 20vw;
    
}
/* @media (max-width: 1500px) { 
    .view_recipe_container
     {
        padding-inline: 15vw;
        
    }
}
@media (max-width: 1200px) { 
    .view_recipe_container
     {
        padding-inline: 7vw;
        
    }
}
@media (max-width: 1000px) { 
    .view_recipe_container
     {
        padding-inline: 0;
        
    }
} */
@media (max-width: 1620px) { 
    .view_recipe_container
     {
        padding-inline: 15vw;
        
    }
}
@media (max-width: 1376px) { 
    .view_recipe_container
     {
        padding-inline: 7vw;
        
    }
}
@media (max-width: 1000px) { 
    .view_recipe_container
     {
        padding-inline: 0vw;
        
    }
}

.view_recipe_header{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;

    
    
}
@media (max-width: 1000px) { 
    .view_recipe_header
     {
        padding: 0;
        
    }
}
.view_path{
    margin-top: 10px;
    display: flex;
    gap: 5px;
    
}
@media (max-width: 1000px) { 
    .view_path
     {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}
.view_path_recipe{
    color: #0A0A0A;
}


.view_name_description_container{
    flex-basis: 50%;

}
@media (max-width: 1000px) { 
    .view_name_description_container
     {
        padding-inline: 30px;
        text-align: center;
    }
}
.view_recipe_name{
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    
}
@media (max-width: 1000px) { 
    .view_recipe_name,.prep_time_container
     {
        
        display: flex;
        justify-content: center;
    }
    
    
}
.view_recipe_description{
    font-size: var(--font-size);
   
}
.prep_time_container{
    display: flex;
    gap: 10px;
    margin: 50px 0px;
}
.prep_time_content{
    display: flex;
    gap: 30px;
    font-size: 18px;
    
    
}
.prep_time_icon{
    font-size: 37px;
}
.prep_heading{
    font-size: 11px;
    padding-bottom:10px;
}
.view_image_container{
    
    flex-basis: 50%;
    max-width: 100%; /* Ensures image doesn't exceed its container */
    height: auto; /* Allows image to scale proportionally */
    display: block; /* Removes any default inline styling */
    display: flex;
    justify-content: end;
   
}
.view_recipe_image{
    max-width: 100%; /* Ensures image doesn't exceed its container */
    height: auto;
}
@media (max-width: 1000px) { 
    .view_name_description_container
     {
        flex-basis: 100%; 
    }
}
@media (max-width: 1000px) { 
    .view_image_container
     {
        order: -1;
    }
    .view_image_container
     {
        flex-basis: 100%; 
    }
    .view_recipe_image
     {
        flex-basis: 100%; 
    }
}
.ingredients_methods_container{
    display: flex;
    margin-top: 50px;
    /* flex-wrap: wrap; */
    
    
    
}


@media (max-width: 1000px) { 
    .ingredients_methods_container
     {
         
        padding-inline: 30px;
        margin-top: 20px;
    }

    
}
@media (max-width: 800px) { 
    .ingredients_methods_container
     {
        
        flex-wrap: wrap;
        
        
    }
    .ingredients {
        flex-basis: 100%;
        margin-top: -50px;
    }
    .methods_container{
        flex-basis: 100%;
        margin-top: 20px;
        
    }
    
}
.ingredients{
    padding-right: 10px;
    width: 50%;
}

.view_recipe_ingredients{
    font-size: 30px;
    font-weight: bold;

    
}
.ingredients_content{
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.list_numbers{
   
    width: 1.5rem;
    height: 1.5rem;
    
    padding: 10px 0px;
    
    margin-right: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.list_content{
    padding: 10px 0px;
}
.methods_container{
    font-size: var(--font-size);
    width: 50%;
    
    /* margin-left: 10px; */
    

}

.view_recipe_methods{
    font-size: 30px;
    font-weight: bold;
}
.recipe_methods{
    display: flex;
    padding: 10px 0px;
    gap: 10px;
    

}
.recipe_methods_content{
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.nutrition_info_container{
    font-size: var(--font-size);
    position: relative;
    
}

.nutrition_info_content_container{
    padding-top: 20px;
    display: flex;
    gap: 100px;
}
@media (max-width: 500px) { 
    .nutrition_info_content_container
     {
        
        gap: 60px;
        
    }
}
.view_recipe_nutrition{
    font-size: 34px;
    font-weight: 600;
    font-family: Para Supreme;

}
.amount_per_serving{
    font-size: 27px;
    font-weight: 400;
    padding-top: 20px;
    font-family: Para Supreme;
}
.nutrition_info_content1,.nutrition_info_content2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Helvetica;
    
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .modal-content {
    background-color: white;
    padding: 80px;
    border-radius: 5px;
  }
  @media (max-width: 500px) { 
    .modal-content
     {
        
        padding:  80px 10px;
        
    }
}
  .nutrition_info_button{
    /* display: inline-block; */
    padding: .625rem 1.25rem;
    
    font: 500 .688rem ;
    width: 100%;
    letter-spacing: .094rem;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    /* background: #da1a32; */
    border: .063rem solid #da1a32;
    cursor: pointer;
  }
  @media (max-width: 1000px) { 
    .nutrition_info_button_container
     {
        margin-left: 30px; 
        width: 94%;
        margin-bottom: 20px;
    }
}
    
  @media (max-width: 500px) { 
    .nutrition_info_button_container
     {
        margin-left: 30px; 
        width: 86%;
        margin-bottom: 20px;
    }
    
    
}

  .close-button {
    position: absolute;
    top: -75px;
  right: -75px;
    border: none;
    padding: 5px 10px;
  cursor: pointer;
  }
  @media (max-width: 500px) { 
    .close-button
     {
        top: -75px;
        right: -10px;
    }
    
    
}
    
    
    
  